.classSchedule {

}

.reserve {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 12px;
  text-align: center;
}

.reserve > span {
  margin-bottom: 6px;
}

.reserve > a {
  color: #DD6F2C;
  text-decoration: none;
}

.midsection {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto;
}

.addressContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.address {
  display: flex;
  flex-direction: column;
  line-height: 24px;
  font-size: 90%;
  color: #DD6F2C;
  margin: 48px 0;
}

.kidsPic {
  height: 375px;
  width: 100%;
  background: url('../../../media/oliviaPortrait.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  /* background-color: blueviolet; */
}

.locationMap {
  width: 100%;
  height: 450px;
  border: 0;
}

@media (min-width: 1024px) {

}