colors {
  color: #DD6F2C;
  color: #F29E42;
  color: #F8CF67;
  color: #F9F9D5;
  color: #ababab;
}

theHat {
  color: #C16552;
}

theSkirt {
  color: #C5BDB5;
}

theSkirtDark {
  color: rgb(207, 198, 190);
}

thePlant {
  color: #3A4637;
}

no {
  color: #AEC2BD;
}

corepower {
  color: #F08733;
}

slateGray {
  color: #333;
}
