/* Fonts */

@import url('https://fonts.googleapis.com/css?family=Raleway:100,400,700,800');

/* All */

* {
    box-sizing: border-box;
    margin: 0;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    -webkit-font-smoothing: antialiased;
}
a {
    text-decoration: none;
    cursor: pointer;
}

/* Main */

/* Masthead */

.masthead {
    background-image: url('https://images.unsplash.com/photo-1485727749690-d091e8284ef3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6899720e88154132a7e65cb9b788ea00&auto=format&fit=crop&w=1400&q=80');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 110vw;
    background-position-y: -30px;
    display: flex;
    align-items: flex-end;
}
.mastheadText {
    background: #21242f;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    line-height: 1.5;
    padding: 40px 20px;
}
.mastheadText > h1 {
    font-size: 1em;
}
.subtext {
    font-size: .6em;
    line-height: 2.5;
}
@media (min-width: 768px) {
    .masthead {
        height: 800px;
    }
}

/* Main Links */

.main-links {
    list-style: none;
    margin: 0;
    padding: 0;
}
.main-link {
    color: white;
    position: relative;
    background: #323443;
    padding: 35px;
    display: flex;
    flex-direction: column;
    border-top: 1px solid #4e5262;
    text-align: center;
    line-height: 1.5;
}
.main-link:hover {
    background: #21242f;
}
.main-link span {
    margin-left: 2px;
}
.main-link > h2 {
    font-size: 1em;
    font-weight: 700;
    margin-bottom: 5px;
}
.right-arrow {
    color: #f1943b;
}

/* Info Section */

.info-section {
    padding: 50px;
    text-align: center;
    line-height: 1.5;
    border-bottom: 1px solid #e8eaf3;
    box-shadow: inset 0 -1px 1px #e8eaf3;
}
.info-section > * {
    padding-bottom: 25px;
}
.info-section > h3 {
    font-size: 150%;
}
.info-link {
    color: rgb(0, 153, 255);
    font-size: 90%;
    font-weight: 600;
}

/* Main About */

.main-about {
    padding: 50px 20px;
    text-align: center;
    background: #4e5262
}
.eyebrow {
    text-transform: uppercase;
    font-size: 85%;
    color: #e5ebee;
    padding-bottom: 40px;
}
.main-about .heading {
    color: white;
    padding-bottom: 40px;
}
.main-about > figure {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5em;
    font-weight: 400;
    color: aqua;
}
.main-about > p {
    color: white;
    padding-bottom: 40px;
    font-weight: 500;
}

/* Testimonials */

.testimonials {
    background: #f2f6f6;
    text-align: center;
}
.portrait {
    content: '';
    height: 140vw;
    background-image: url('./media/otfitportrait2.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}
.eyebrow-blue {
    text-transform: uppercase;
    padding: 50px;
    font-size: 85%;
    color: rgb(0, 153, 255);
}
.carousel-view {
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    margin: 0 15%;
}
.slides {
    display: flex;
    transition: transform 0.5s ease;
}
.slide {
    width: 100%;
    padding: 0 15%;
    /* flex-basis: inherit; */
    flex-grow: 0;
    flex-shrink: 0;
    user-select: none;
}
.slide h2 {
    line-height: 1.5;
    padding-bottom: 20px;
}
.slide span {
    font-size: 80%;
    color: #666;
    padding: 5px;
}
.carousel-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}
.pagination-circles-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 25px;
}
.circle-container {
    height: 100%;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.pagination-circle {
    height: 5px;
    width: 5px;
    border-radius: 50%;
    margin: 10px;
    background: #888;
}
.pagination-circle-active {
    height: 12px;
    width: 12px;
    margin: 8px;
    border-radius: 50%;
    background: white;
    border: 2px solid black;
}
/* Large Arrows */
.left-arrow-container,
.right-arrow-container {
    height: 30px;
    cursor: pointer;
}
.left-arrow,
.right-arrow {
    stroke: #666;
}
/* Narrow Arrows */
.left-arrow-narrow-container,
.right-arrow-narrow-container {
    height: 30px;
    cursor: pointer;
}
.left-arrow-narrow,
.right-arrow-narrow {
    stroke: #666;
}

/* Main 'Ready' Section */

.ready {
    height: 200px;
    background-image: linear-gradient(-225deg,#2eb7ce,#4296cb);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}
.ready p {
    font-size: 120%;
    font-weight: 500;
    margin-bottom: 25px;
}
.ready div {
    width: 75%;
    background: #212432;
    padding: 15px;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: .8em;
    font-weight: 700;
    text-align: center;
}

/* Footer */

.footer {
    height: 100vh;
    background: #21242f;
    color: white;
}