/* Fonts */

@import url('https://fonts.googleapis.com/css?family=Raleway:100,400,800');

/* All */

* {
    box-sizing: border-box;
    margin: 0;
    font-weight: 400;
    /* font-size: 0; */
}

/* Header */

.header {
    font-family: 'Raleway', sans-serif;
    padding: 10px 0;
}
.brand a {
    display: block;
    text-indent: -9999px;
    background-image: url('./media//otFitBrand2.png');
    background-attachment: scroll;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 50px;
    width: 250px;
}
.burger {
    position: absolute;
    right: 15px;
    top: 5px;
    font-size: 2em;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    color: #666;
    padding: 5px 0 10px 0;
}

/* Main */

.main {
    background: #f19236;
    padding-bottom: 100px;
}
.masthead {
    background-image: url('https://images.unsplash.com/photo-1485727749690-d091e8284ef3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6899720e88154132a7e65cb9b788ea00&auto=format&fit=crop&w=1400&q=80');
    height: 500px;
    background-size: contain;
    background-repeat: no-repeat;
}