/* Main 'Ready' Section */

.ready {
    height: 200px;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #000;
}
.ready p {
    font-size: 120%;
    font-weight: 500;
    margin-bottom: 25px;
}
.ready a {
    width: 75%;
    background: #F29E42;
    padding: 15px;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: .8em;
    font-weight: 700;
    text-align: center;
    color: white;
}
.ready a:hover {
    background: linear-gradient(to right, #F29E42, #F8CF67);
}
@media (min-width: 768px) {
    .ready a {
        width: 300px;
        padding: 20px;
        font-size: .9em;
    }
}