/* Main */

/* Large Arrows */
.left-arrow-container,
.right-arrow-container {
    height: 30px;
    cursor: pointer;
}
.left-arrow,
.right-arrow {
    stroke: #666;
}
/* Narrow Arrows */
.left-arrow-narrow-container,
.right-arrow-narrow-container {
    height: 30px;
    cursor: pointer;
}
.left-arrow-narrow,
.right-arrow-narrow {
    stroke: #666;
}
